.MuiOutlinedInput-notchedOutline {
    text-align: right;
}
.MuiInputLabel-outlined {
    right: 30px;
    left: auto;
    transform-origin: top right;
}

.MuiInputLabel-outlined.MuiInputLabel-shrink {
    left: auto;
}

.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiSelect-icon {
    right: auto;
    left: 10px;
}
.react-images__blanket {
    z-index: 1200 !important;
}

.react-images__container {
    direction: ltr !important;
}



@keyframes flashingImportant {
    0% {
        border-color: red;
        color: red;
        transform: scale(1);
    }
    50% {
        border-color: black;
        color: black;
        transform: scale(1.05);
    }
    100% {
        border-color: red;
        color: red;
        transform: scale(1);
    }
}
